.app
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.app > input{
    width:100px;
    height:100px;
}

.cellsGrid
{
    border:1px solid black;
    transition: 0.2s ease-in;
    cursor:pointer;
}
.cellsGrid:hover{
    transform: scale(1.2);
}